[submodule "app/modules/QFNUAllInOne"]
	path = app/modules/QFNUAllInOne
	url = git@github.com:W1ndysBot/EasyQFNUJW.git
[submodule "app/modules/EasyQFNUJW"]
	path = app/modules/EasyQFNUJW
	url = git@github.com:W1ndysBot/EasyQFNUJW.git
