[submodule "app/modules/QFNUExamRoomQuery"]
	path = app/modules/QFNUExamRoomQuery
	url = https://github.com/W1ndysBot/QFNUExamRoomQuery.git
[submodule "app/modules/QFNUFreeRoomFinder"]
	path = app/modules/QFNUFreeRoomFinder
	url = https://github.com/W1ndysBot/QFNUFreeRoomFinder.git
[submodule "app/modules/QFNUSelectCourseQuery"]
	path = app/modules/QFNUSelectCourseQuery
	url = https://github.com/W1ndysBot/QFNUSelectCourseQuery.git
