websockets
requests
beautifulsoup4
cryptography
colorlog
aiohttp
python-dotenv
numpy
scikit-learn
jieba
scipy
matplotlib
wordcloud

# Excel 相关库
openpyxl
xlrd==1.2.0

# 视频处理和计算机视觉
opencv-python

# 二维码检测
pyzbar
